:root {
    --font-freckle-face: 'Freckle Face', cursive;
    
  /* 60331c
61331b
a3130f
c85103
ed9158
f7d69c
f3dcb4
fcb410 */
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #fff8f0 url('https://www.transparenttextures.com/patterns/linen.png');
    color: #4e3629;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header {
    background: #f7d9a0;
    padding: 20px;
  }

  .freckle-face-regular {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: var(--font-freckle-face);
  }
  
  section {
    padding: 20px;
  }

  .intro {
    padding: 2em;
    color: #f3dcb4;
    background-color: #60331c;
    border-top: 5px dashed #d2691e;
    border-bottom: 5px dashed #d2691e;
  }

  .presentes {
    padding: 2em;
    margin-top: 3em;
    margin-bottom: 2em;
    background: #f7d9a0;
  }

  .lista-presentes {
    padding: 1em;
    border-radius: 10px;
  }
  
  ul {
    list-style: none;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  li {
    width: 20em;
    margin: 10px 0;
    background: #fff;
    border-left: 5px solid #a98467;
    padding: 10px;
    border-radius: 5px;
  }
  
  a {
    color: #7f5539;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .paleta {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 2em;
  }
  
  .paleta div {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  footer {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    background: #f7d9a0;
    padding: 10px;
    border-top: 5px dashed #d2691e;
  }
  